body {
    font-family: "Roboto", sans-serif;

}



html, body {
    overflow: auto;
    height: auto;
  }
  

section {
    scroll-margin-top: 80px;
}

.navbar {
    padding: 35px 20px 0 20px;
    transition: transform 0.4s ease, background-color 0.3s ease;
    will-change: transform;
}

.navbar-hide {
    transform: translateY(-100%) !important;
}


.navbar .nav-tap {
    background-color: #1e1e1e !important;
    border-radius: 25px;
}

/* .btn-primary {
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
} */

.navbar-brand {
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.navbar-brand img {
    width: 75px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #f1f1f1;
    font-size: 16px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: #ff4081;
}

.navbar-brand:hover {
    color: hsl(0, 0%, 100%)!important;
    color: rgb(10, 88, 202);
}

.navbar-toggler {
    border: none !important;
}



@media (min-width: 768px) {
    .navbar .nav-tap {
        background-color: #1e1e1e !important;
        color: none !important;
    }

    /* .btn-primary {
        display: none;
    } */

    .navbar-toggler-icon {
        color: white !important;
    }

    .navbar-collapse {
        background-color: #1e1e1e;
        border-radius: 25px;
        text-align: center;
        padding: 20px;
    }

    .navbar-brand {
        color: #fdf9f9;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .navbar-toggler-icon {
        filter: invert(1);
        width: 37px;
        height: 37px;
        font-weight: 800;
    }
}

@media (min-width: 600px) {
    .navbar .nav-tap {
        background-color: #1e1e1e !important;
        color: none !important;
    }

    .navbar-toggler-icon {
        color: white !important;
    }

    .navbar-collapse {
        background-color: #1e1e1e;
        border-radius: 25px;
        text-align: center;
        padding: 20px;
    }

    .navbar-brand {
        color: #fdf9f9;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .navbar-toggler-icon {
        filter: invert(1);
        width: 37px;
        height: 37px;
        font-weight: 800;
    }
    .navbar-brand img {
        width: 75px;
        margin-right: 0px;
    }
}

@media (max-width: 600px) {
    .navbar .nav-tap {
        background-color: #1e1e1e !important;
        color: none !important;
    }

    .navbar-toggler-icon {
        color: white !important;
    }

    .navbar-collapse {
        background-color: #1e1e1e;
        border-radius: 25px;
        text-align: center;
        padding: 20px;
    }

    .navbar-brand {
        color: #fdf9f9;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .navbar-toggler-icon {
        filter: invert(1);
        width: 37px;
        height: 37px;
        font-weight: 800;
    }
    .navbar-brand img {
        width: 75px;
        margin-right: 
        0px;
    }
}



/* hero section starts here */
.hero-section {
    padding: clamp(120px, 20vh, 180px) 20px clamp(140px, 37vh, 300px) 20px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#ED5959, #FEA23F);
    color: white;
    text-align: center;
    overflow-x: hidden;
}

.hero-section h1 {
    font-size: clamp(28px, 6vw, 65px);
    font-weight: 800;
    line-height: 1.2;
}

.hero-section p {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.btn-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: clamp(10px, 2vw, 20px) clamp(20px, 5vw, 40px);
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 600;
    border-radius: 15px;
    /* background-color: white; */
    border: 1px solid #fff !important;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-group button:hover {
    background-color: #0e7dff;
    color: white;
}

.btn-group img {
    width: clamp(30px, 5vw, 45px);
    height: clamp(30px, 5vw, 45px);
}

.btn-group button i {
    font-size: clamp(24px, 5vw, 50px);
}

/* Optional: Fine-tuning for very small screens */

@media (max-width: 768px) {
    .btn-group {
        flex-direction: row !important;
        align-items: center !important
    }

    .btn-group button {
        width: 100%;
        justify-content: center;
        ;
    }
}

@media (max-width: 480px) {
    .btn-group {
        flex-direction: row;
    }

    .btn-group button {
        width: 100%;
        justify-content: center;
        align-items: center !important;
    }
}


/* Main Carousel Section */
.mobile-carousel {
    position: absolute;
    top: 80% !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    z-index: 10;
  }

  .swiper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 700px;
    overflow: hidden !important;
    position: relative;
  }

  .mySwiper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 311px !important;
    padding: 10px;
    visibility: visible !important;
    opacity: 1 !important;
    margin-right: 10px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 15px;
    display: block !important;
    object-fit: contain;
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
    margin-top: 0;
  }

  .swiper-slide-active img {
    transform: scale(1.3) translateY(8px);
    margin-top: 8px;
  }

  @media (max-width: 600px) {
    .mySwiper {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  
    .swiper-slide {
      width: 70.3% !important; 
      margin-right: 10px !important;
      transition: transform 0.3s ease;
      display: flex;
      justify-content: center;
    }
  
    .swiper-slide img {
      width: 100% !important;
      max-width: 220px;
      transform: scale(1);
      transition: transform 0.3s ease;
    }
  
    .swiper-slide-active img {
      transform: scale(1.2) translateY(4px) !important;
      margin-top: 6px !important;
    }
  
    .mobile-carousel {
      top: 48% !important;
    }
  }
  

  @media (min-width: 600px) and (max-width: 768px) {
    .mySwiper {
        padding-left: 16px !important;
        padding-right: 16px !important;
      }
    
      .swiper-slide {
        width: 62.3% !important; 
        margin-right: 10px !important;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
      }
    
      .swiper-slide img {
        width: 100% !important;
        max-width: 220px;
        transform: scale(1);
        transition: transform 0.3s ease;
      }
    
      .swiper-slide-active img {
        transform: scale(1.2) translateY(4px) !important;
        margin-top: 6px !important;
      }
    
      .mobile-carousel {
        top: 48% !important;
      }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .swiper-slide {
      width: 38.5% !important;
      transition: transform 0.3s ease;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  
    .swiper-slide img {
      width: 100%;
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  
    .swiper-slide-active img {
      transform: scale(1.34) translateY(4px);
    }
  
    .mobile-carousel {
      top: 78% !important;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .swiper-slide {
      width: 25.8% !important;
      transition: transform 0.3s ease;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  
    .swiper-slide img {
      width: 100%;
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  
    .swiper-slide-active img {
      transform: scale(1.34) translateY(-6px);
    }
  
    .mobile-carousel {
      top: 92% !important;
    }
    .swiper-wrapper {
        gap: 18px;
      }
  }
  
  @media (min-width: 1200px) {
    .mySwiper {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  
    .swiper-wrapper {
      gap: 18px;
    }
  
    .swiper-slide {
      width: 18.3% !important;
      transition: transform 0.3s ease;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  
    .swiper-slide img {
      width: 100%;
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform: scale(1.1);
    }
  
    .swiper-slide-active {
      z-index: 2;
    }
  
    .swiper-slide-active img {
      transform: scale(1.34) translateY(-6px);
      opacity: 1;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  
    .mobile-carousel {
      top: 84% !important;
    }
  
    .swiper-slide-prev {
      margin-right: 34px !important;
    }
  
    .swiper-slide-next {
      margin-left: 34px !important;
    }
  }
  
  
  
      
  
  

/* Video Section */
.floating-video {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    height: 160px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.floating-video video {
    width: 100%;
    height: calc(100% - 40px);
    object-fit: cover;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 5px;
    background: rgba(0,0,0,0.7);
}

.controls button {
    background: rgba(255,255,255,0.2);
    color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s;
}

.controls button i {
    pointer-events: none;
}

.controls button:hover {
    background: rgba(255,255,255,0.3);
}

.video-toggle-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.video-toggle-icon i {
    font-size: 15px;
    pointer-events: none;
}

.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
    z-index: 10000;
}

.fullscreen video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

/* Responsive */
@media (max-width: 768px) {
    .floating-video {
        width: 220px;
        height: 130px;
        bottom: 15px;
        right: 15px;
    }

    .controls button {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }

    .video-toggle-icon {
        width: 36px;
        height: 36px;
        bottom: 15px;
        right: 15px;
    }

    .video-toggle-icon i {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .floating-video {
        width: 160px;
        height: 100px;
        bottom: 62px;
        right: 5px;
    }

    .controls {
        padding: 6px;
        gap: 6px;
    }

    .controls button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .video-toggle-icon {
        width: 32px;
        height: 32px;
        bottom: 10px;
        right: 10px;
    }

    .floating-video.fullscreen video {
        object-fit: contain !important;
    }
}

/* About section starts here */

.about {
    padding: 500px 0 30px 0 !important;
    position: relative;
    bottom:23px !important;
    margin-top: 90px !important;
}

.about .about-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1F1F39;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
}

.about .about-content p {
    font-size: 28px;
    color: #282828;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    text-align: center;
}

.about .about-content strong {
    font-size: 32px;
    color: #282828;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

@media (max-width: 768px) {
    .about {
        padding: 476px 0 0 0 !important;
        margin-top: -47px !important;
    }

    .about .about-content h1 {
        font-size: 36px;
    }

    .about .about-content p {
        font-size: 16px;
        line-height: 1.6;
        padding: 0 35px;
        text-align: justify;
    }

    .about .about-content strong {
        font-size: 18px;
        /* Matches paragraph size */
    }
}


/* how to earn */

/* Main Section */
.cashback-section {
    position: relative;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
}

/* Title */
.cashback-title {
    font-weight: bold;
    color: #1F1F39;
    font-size: 40px;
    margin-bottom: 10px;
}

.cashback-description {
    font-size: 18px;
    font-weight: 400;
    color: #858585;
}

/* Circular Icons */
.icon-circle {
    background-color: #e9f3ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
    z-index: 2;
}

.icon-circle i {
    color: #4fa3ff;
}

/* Step Containers */
.content-container {
    flex: 1;
    max-width: 300px;
}

.step-container {
    margin: 30px 0;
}

.step-title {
    font-size: 22px;
    font-weight: 600;
    color: #1F1F39;
}

.step-description {
    font-size: 16px;
    font-weight: 400;
    color: #8D8D8D;
}

/* Mobile Frame Container */
.mobile-frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
    position: relative;
    z-index: 2;
}

/* Video Wrapper */
.video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
    z-index: 2;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    z-index: 3;
}

/* Decorative Semi Circles */
.semi-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, #ED5959, #FEA23F);
    opacity: 0.4;
    z-index: 1;
}

.left {
    top: 62%;
    left: -29%;
    transform: translateY(-50%);
}

.right {
    top: 62%;
    right: -29%;
    transform: translateY(-50%);
}

/* ====================
   Responsive Styles
==================== */


@media (max-width: 1200px) {
    .cashback-title {
        font-size: 36px;
    }

    .cashback-description {
        font-size: 16px;
    }

    .content-container {
        max-width: 100%;
        text-align: center;
    }

    .step-title {
        font-size: 20px;
    }

    .step-description {
        font-size: 16px;
    }

    .mobile-frame-container {
        max-width: 300px;
    }

    .left {
        top: 63%;
        left: -36%;
        transform: translateY(-50%);
    }

    .right {
        top: 63%;
        right: -36%;
        transform: translateY(-50%);
    }
}

@media (max-width: 992px) {
    .cashback-title {
        font-size: 36px;
    }

    .cashback-description {
        font-size: 16px;
    }

    .content-container {
        max-width: 100%;
        text-align: center;
    }

    .step-title {
        font-size: 20px;
    }

    .step-description {
        font-size: 15px;
    }

    .mobile-frame-container {
        max-width: 280px;
    }

    .left {
        top: 58%;
        left: -45%;
        transform: translateY(-50%);
    }

    .right {
        top: 58%;
        right: -45%;
        transform: translateY(-50%);
    }

    .me-md-0 {
        margin-right: 0 !important;
    }

    .ms-auto,
    .me-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }



}

@media (max-width: 768px) {
    .cashback-title {
        font-size: 28px;
    }

    .step-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 15px;
    }

    .mobile-frame-container {
        max-width: 260px;
    }

    .icon-circle {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }

    .icon-circle i {
        font-size: 24px;
    }

    .section-title {
        font-size: 22px;
    }

    .section-description {
        font-size: 14px;
    }

    .step-title {
        font-size: 16px;
    }

    .step-description {
        font-size: 13px;
    }

    .left {
        top: 55%;
        left: -59%;
    }

    .right {
        top: 55%;
        right: -59%;
    }

    .me-md-0 {
        margin-right: 0 !important;
    }

    .ms-auto,
    .me-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .video-wrapper {
        aspect-ratio: 1 / 16;
        max-height: 500px;
        margin: auto;
        overflow: hidden;
        border-radius: 30px;
        z-index: 2;
    }


}

@media (max-width: 600px) {
    .mobile-frame-container {
        max-width: 250px;
    }

    .video-wrapper {
        aspect-ratio: 1 / 16;
    }

    .semi-circle{
        display: none;
    }

    .left {
        top: 55%;
        left: 50%;
    }

    .right {
        top: 55%;
        right: 50%;
    }

    .me-md-0 {
        margin-right: 0 !important;
    }

    .ms-auto,
    .me-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .cashback-section{
        padding: 50px 20px 0 20px;;
    }

    .video-wrapper video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 30px;
        z-index: 3;
    }

    .video-wrapper {
        aspect-ratio: 1 / 16;
        max-height: 400px;
        margin: auto;
        overflow: hidden;
        border-radius: 30px;
        z-index: 2;
    }


}


/* why choose us  */
.why-choose {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
    padding: 50px 20px;
    border-radius: 30px;
    position: relative;
}

.why-choose h2 {
    font-size: 40px;
}

.why-choose p {
    font-size: 18px;
}

.icon-box {
    font-size: 40px;
    background: white;
    color: #007bff;
    padding: 15px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.counter-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: -69px;
    left: 11%;
    width: 80%;
    flex-wrap: nowrap !important;
}

.counter-box {
    background: white;
    color: black;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    flex: 1;
}

.counter {
    font-size: 30px;
    font-weight: bold;
}



@media (max-width: 768px) {
    .counter-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        position: static;
        gap: 25px;
    }

    .counter-box {
        width: 100%;
        margin-left: 14px;
        padding: 20px;
        text-align: center;
    }

    .why-choose {
        text-align: center;
        /* Center align text */
        padding: 20px
    }

    .why-choose h2 {
        font-size: 30px;
    }
    .why-choose p {
        font-size: 16px;
    }
    .icon-box {
        font-size: 25px;
        background: white;
        color: #007bff;
        padding: 15px;
        border-radius: 50%;
        display: inline-flex
    ;
        justify-content: center;
        align-items: center;
    }
}

/* Testimonial slider code here */

.testimonial-section {
    text-align: center;
    padding: 100px 20px 140px 20px;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #1f1f39;
}

.section-subtitle {
    font-size: 16px;
    color: #555;
    max-width: 600px;
    margin: 0 auto 30px;
}

/* Testimonial Slider */
.testimonial-slider {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(255, 165, 0, 0.4);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Testimonial Container */
.testimonial-container {
    position: relative;
    overflow: hidden;
    height: 160px; 
}

.testimonial {
    display: none;
    text-align: center;
    padding: 20px;
    height: 100%;
    overflow-y: auto; 
    transition: opacity 0.5s ease-in-out;
}

.testimonial.active {
    display: block;
}

.testimonial-text {
    font-size: 22px;
    font-style: italic;
    color: #333;
}

.testimonial-author {
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
    display: block;
    margin-top: 10px;
}

/* Navigation Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ff6600;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow:hover {
    background: #ff4500;
}

.arrow.left {
    left: -21px;
}

.arrow.right {
    right: -21px;
}

/* Dots inside the box */
.dots {
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
    /* background: rgba(255, 165, 0, 0.1); */
    border-radius: 10px;
    padding: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgba(255, 165, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;

}

.dot.active {
    background-color: #ff6600;
}

/* Responsive Design */
@media (max-width: 768px) {
    .testimonial-slider {
        max-width: 90%;
    }

    .arrow {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .arrow.left {
        left: -15px;
    }

    .arrow.right {
        right: -15px;
    }
}

@media (max-width: 576px) {
    .testimonial-section {
        text-align: center;
        padding: 0px 20px 90px 20px;
    }

    .testimonial-section .section-title{
        font-size: 32px;
    }

    .testimonial-container {
        height: 180px;
        overflow: hidden;
    }

    .testimonial {
        height: 100%;
        overflow-y:hidden;
        padding: 15px;
    }

    .testimonial-text {
        font-size: 16px; 
        line-height: 1.4;
    }

    .arrow {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .arrow.left {
        left: -18px !important;
        bottom: -10px !important;
    }

    .arrow.right {
        right: -18px !important;
        bottom: -10px !important;
    }
}

/* Faq section starts here */
.mix {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b) !important;
}

.faq-section {
    margin: auto;
    padding: 50px 20px;
  }
  
  .faq-section .accordion {
    padding: 0 15px;
  }
  
  .faq-section .main-section {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
  }
  
  /* Accordion Item */
  .accordion-item {
    /* background-color: transparent; */
    border: none !important;
  }
  
  /* Accordion Button */
  .custom-accordion {
    background: #ffffff !important;
    color: rgba(31, 31, 57, 1);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    border: none !important;
    box-shadow: none !important;
    transition: border-bottom 0.3s ease;
  }
  
  /* Hide default Bootstrap arrow */
  .custom-accordion::after {
    display: none !important;
  }
  
  /* Accordion Answer Text */
  .accordion-body {
    background: #ffffff !important;
    color: #1e1e1e;
    font-size: 16px;
    padding: 10px 20px 15px 25px;
    margin-top: -15px;
    transition: all 0.3s ease;
  }
  
  /* Remove top margin + padding when collapsed */
  .accordion-collapse.collapse:not(.show) .accordion-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  /* Keep highlight on expanded */
  .accordion-button:not(.collapsed) {
    color: rgba(31, 31, 57, 1) !important;
  }
  
  /* Custom "+" / "−" button */
  .answer-btn {
    background-color: #ffd700;
    color: #000;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
  }
  
  /* Mobile Responsive */
  @media (max-width: 768px) {
    .faq-section .main-section {
      font-size: 32px;
    }
  
    .custom-accordion {
      font-size: 15px;
      padding: 15px 18px;
    }
  
    .answer-btn {
      font-size: 14px;
      padding: 3px 6px;
    }
  
    .accordion-body {
      font-size: 14px;
      padding: 8px 18px 14px 18px;
      margin-top: -6px;
    }
  }
  
  @media (max-width: 576px) {
    .faq-section .main-section {
      font-size: 23px;
    }
  
    .custom-accordion {
      font-size: 14px;
      padding: 14px 16px !important;
    }
  
    .accordion-body {
      font-size: 13.5px;
      padding: 6px 16px 12px 16px !important;
      margin-top: -10px !important;
    }
  }
  

/* lets connect section starts here */
.app-promo {
    padding: 50px 20px;
    color: #ffffff;
}

.content h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff;
}

.content p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.mobile-img {
    width: 50%;
    max-width: 400px;
    height: auto;
}

.download-button-group {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 20px;
    flex-wrap: wrap;
}

.download-button-group .download-btn {
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 15px 30px !important;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.download-button-group .download-btn:hover {
    background-color: #0e7dff;
    color: white;
}

.download-button-group .download-btn img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


.app-promo.btn-group-one {
    display: flex;
    justify-content: center;
    align-items: start !important;
    gap: 20px;
}

.contact-section {
    margin-top: 25px;
}

.contact-section h4 {
    font-size: 28px;
    font-weight: 700;
}

.contact-section p {
    font-size: 16px;
}


@media (max-width: 768px) {
    .content h2 {
        font-size: 35px;
        text-align: left;
    }

    .content p {
        font-size: 16px;
        text-align: left;
    }

    .btn-group {
        flex-direction: column;
        align-items: start;
    }

    .content .btn-custom {
        width: 100%;
    }

    .contact-section h4 {
        font-size: 24px;
        text-align: left;
    }

    .contact-section p {
        font-size: 14px;
        text-align: left;
        padding-bottom: 20px;
    }

    .mobile-img {
        max-width: 100%;
    }

    br {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .download-button-group {
        flex-direction: row !important;
        gap: 10px;
        flex-wrap: nowrap;
    }

    .download-button-group .download-btn {
        padding: 12px 10px !important;
        font-size: 14px;
    }

    .app-promo {
        padding: 0px 20px 50px 20px;  
    }

    .download-button-group .download-btn img {
        width: 22px;
        height: 22px;
        object-fit: contain;
    }

    .mobile-img {
    width: 100% !important;
    max-width: 100% !important;
    }

    br{
    display: none !important;
    }

}



/* footer section starts here */
.footer {
    background-color: #121212;
    color: #FFFFFF;
    padding: 80px 20px;
  }
  
  .footer .container {
    border-top: 0.5px solid #444;
  }
  
  .footer a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ffffff !important;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-logo img {
    width: 60px;
    height: auto;
  }
  
  .footer h5 {
    color: #fff;
    font-weight: bold;
  }
  
  .social-icons a {
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
  }
  
  .social-icons a:hover {
    color: #ccc;
  }
  
  .store-buttons a {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    width: 160px;
  }
  
  .footer-links li a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    color: #aaa;
  }
  
  .footer-links li a:hover {
    color: #fff;
  }
  
  .store-buttons img {
    width: 24px;
    height: 24px;
  }
  
  footer .store-buttons a:hover {
    background-color: #0e7dff !important;
    color: white;
  }
  
  @media (max-width: 768px) {
    .store-buttons {
      flex-direction: row !important;
      justify-content: flex-start;
      width: 100%;
    }
  
    .store-buttons a {
      flex: 1;
      justify-content: center;
      text-align: center;
    }
  
    .footer {
      padding: 60px 20px;
    }
  }